NODE_ENV=development
PORT=8000

MONGODB_URL=mongodb+srv://<username>:<password>@<cluster-url>/
CORS_ORIGIN=http://localhost:5173

ACCESS_TOKEN_SECRET=replace-with-long-random-access-token-secret
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=replace-with-long-random-refresh-token-secret
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
REDIS_URL=redis://localhost:6379